{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Δημιουργία Δραστηριότητας</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Css File -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'activities/css/template.css' %}">
	</head>


	<body>

	<div class="grid-container">
        {% include 'activities/template.html'%}
		<div class="item3" style="min-height: 471px;">
			<div class="container" style="margin-top: 50px; position:center; height:100%;">
				<a href="{% url 'create_task' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Δημιουργία Αρμοδιότητας</a>
				<a href="{% url 'create_project' %}" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Δημιουργία Έργου</a>
			</div>
		</div>


        {% include 'activities/footer.html'%}

	</div>
	</body>

</html>